/* 버튼스타일 */
body{
    overflow-x: hidden;
}
.defaultBtn{
    width: 145px;
    height:50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    position: relative;
    cursor: pointer;
}

.defaultBtn:before{
    cursor: inherit;
    width:48px;
    height:48px;
    border-radius: 50%;
    background-color: #cae7ff;
    position: absolute;
    content: '';
    top:-15px;
    left:50%;
    margin-left: -70px;
    transition: width, height, margin, top, left 0.6s;
}

.defaultBtn span{
    cursor: inherit;
    position: relative;
    z-index: 30;
    border:1px solid #000;
    width: 100%;
    height: 100%;
    display: block;
}

.defaultBtn:hover:before{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:0;
    border-radius: 0;
}


.viewBtn{
    width: 145px;
    height:50px;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    position: relative;
    cursor: pointer;
}

.viewBtn:before{
    cursor: inherit;
    width:48px;
    height:48px;
    border-radius: 50%;
    background-color: #cae7ff;
    position: absolute;
    content: '';
    top:-10px;
    right:-13px;
    transition: width, height, top, right 0.6s;
}

.viewBtn span{
    cursor: inherit;
    position: relative;
    z-index: 30;
    border:1px solid #000;
    width: 100%;
    height: 100%;
    display: block;
}

.viewBtn:after{
    content: '+';
    position:absolute;
    top:5px;
    right: 5px;
    line-height: 1;
    font-size:18px
}

.viewBtn:hover:before{
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
/* 오른쪽 메뉴 */
aside{
    display:none;
    position:fixed;
    bottom: 40px;
    flex-direction: column;
    right:40px;
    z-index: 999;
}
aside button{
    width:14px;
    height:14px;
    /* background-color: #d0d0d0; */
    border-radius: 50%;
    border:1px solid #333;
    box-sizing:border-box;
    margin-left:10px;
    box-shadow: 2px 2px 0 #fff;
}
aside button.active{
    background-color: #1313d4;
    border:0;
}

/* #s1 영역 */

header{
    top:0;
    left:0;
    height:50px;
    position:fixed;
    background: #fff;
    z-index: 99;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
h1{
    text-align:center;
    display:flex;
    height:100%;
    justify-content: center;
    align-items: center;
    font-size:24px;
}

.navOpen{
    width: 50px;
    height:50px;
    position: absolute;
    top:0;
    right:0;
}
.navOpen span{
    display: block;
    width:26px;
    height:2px;
    position:absolute;
    background-color:#000;
    top:24px;
    left:12px;
    transition: transform 1s;	
    will-change: transform;
}

.navOpen span:nth-child(1){
    margin-top:8px;
}
.navOpen span:nth-child(3){
    margin-top:-8px;
}

.navOpen.close span:nth-child(1){
    margin-top: 0;
    transform: rotate(-45deg);
}
.navOpen.close span:nth-child(2){
    opacity: 0;
}
.navOpen.close span:nth-child(3){
    margin-top: 0;
    transform: rotate(45deg);
}

.navOpen.close span{
    background-color: #1313d4;
}

nav{
    display:none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    padding:20px;
    width:100%;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px);
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);

}
nav div{
    display: flex;
    width:100%;
    transition: all 1s;
    transform: translateX(-100%);	
    -webkit-transform: translateX(-100%);	
    will-change: transform;

}
nav a{
    margin-right:30px;
}
#s1{
    overflow:hidden;
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
}
#s1 .mainBg{
    height: 30vh;
    background-image: url(../images/s1_mainBg.jpg);
    background-size: 1200px auto;
    background-position: left top;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#s1 .subTit{
    display:none;
}
#s1 .mainBg h2{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15vw;
    position: absolute;
    top: 50%;
    line-height: 1;
    right:0;
    width:100%;
    text-align: center;
    transform: translateY(-50%);
    color:#fff;
    letter-spacing: 10px;
}

#s1 .content{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

#s1 .content p{
    padding: 40px;
    text-align: center;
    line-height: 1.6;
}
#s1 .content .pc{
    display:none;
}
#s1 .btnSet{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    box-sizing: border-box;
    padding:0 20px;
    order:2;
}

#s1 .btnSet{}

/* 오브젝트들 */

#s1 .round{
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
}


#s1 .round2{
    width: 180px;
    height:180px;
    border:50px solid #1313d4;
    bottom:-100px;
    left:50%;
    margin-left: 110px;
}

.toS2{
    text-align: center;
    background-repeat: no-repeat;
    padding-top:36px;
    position:absolute;
    font-size:16px;
    left:50%;
    bottom:20px;
    transform: translateX(-50%);
}

.mouse {
    position: relative;
    width: 18px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }
  .mouse .buttons {
    border-bottom: 4px solid #000;
    height: 48px;
  }
  .mouse .buttons .seperator {
    width: 4px;
    height: 100%;
    margin: 0 auto;
    background-color: #000;
  }
  
  .wheel {
    width: 8px;
    height: 8px;
    background-color: #1313d4;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  
  .scrollUp {
    -webkit-animation-name: scrollUp;
            animation-name: scrollUp;
  }
  
  .scrollDown {
    -webkit-animation-name: scrollDown;
            animation-name: scrollDown;
  }
  
  @-webkit-keyframes scrollDown {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      transform: translateY(8px);
      opacity: 0;
    }
  }
  
  @keyframes scrollDown {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      transform: translateY(8px);
      opacity: 0;
    }
  }
  @-webkit-keyframes scrollUp {
    0% {
      transform: translateY(8px);
      opacity: 1;
    }
    90% {
      transform: translateY(0px);
      opacity: 0;
    }
    100% {
      transform: translateY(32px);
      opacity: 1;
    }
  }
  @keyframes scrollUp {
    0% {
      transform: translateY(32px);
      opacity: 1;
    }
    90% {
      transform: translateY(0px);
      opacity: 0;
    }
    100% {
      transform: translateY(32px);
      opacity: 1;
    }
  }
/*s1제외 전 섹션 공통*/

section:not(#s1){
    padding:60px 20px;
    overflow: hidden;
    box-sizing:border-box;
}
section:not(#s1) h3{
    font-weight: 200;
    font-size: 50px;
    margin-bottom:60px
}
/* #s2 */

#s2{
    background-color:#f3f3f3;
    position:relative;
    overflow: hidden;
}
#s2 .con{
    position:relative;
    z-index: 20;
}
#s2 .item{
    margin-bottom: 100px;
    height:200px;
}
#s2 .item h4{
    font-weight: 700;
    font-size:22px;
    margin-bottom:30px
}
#s2 .item h4 span{
    display:block;
    font-size:12px;
    color:#444;
    font-weight:400;
    margin-top:4px;
}
#s2 .item li{
    display:flex;
    margin-bottom: 10px;
    font-size:14px;
}
#s2 .item strong{
    width:30%;
    font-weight:700;
}
#s2 .item span{
    width:70%
}

#s2 .str{
    display:block;
    position:absolute;
    border: 1px solid #000;
    border-radius: 50%;
}

#s2 .str1{
    width:134px;
    height:134px;
    top:330px;
    left:-80px
}

#s2 .str2{
    width:248px;
    height:248px;
    bottom:100px;
    right:-120px
}

#s2 .round1{
    width:100px;
    height:100px;
    top:50%;
    left: -50px;
    border-radius: 50%;
    border:60px solid #fff;
    position: absolute;
}

/* #s3 */
#s3{
    position:relative;
}
#s3 .con{
    position: relative;
    z-index: 3;
}
#s3 .item:not(:last-child){
    margin-bottom:80px;
}
#s3 .item figure{
    background-color: #000;
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) / 16 * 9);
    overflow: hidden;
    display:flex;
    align-items: center;
}
#s3 .item figure img{
    width:100%;
}

#s3 .item h4{
    margin-bottom: 10px;
    line-height: normal;
}
#s3 .item p{
    margin-bottom: 20px;
}
#s3 figcaption{
    margin-top: 30px;
    position: relative;
    padding:0 10px;
}

#s3 .item button{
    margin-left: auto;
    display:block;
}

#view{
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:999;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view .playBox{
    position: relative;
    z-index:50;
    width:calc(100vw - 40px);
    height:calc(((100vw - 40px) / 16) * 9)
    
}
#view .playBox iframe{
    display:block;
    width:100%;
    height:100%;
}

#view h4{
    margin-top:20px;
}

#view .closeBox{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
/* #s4 */
#s4{
    background-image: url(../images/s4_bg.jpg);
    background-size: cover;
    background-position: left 0;
    color:#fff;
    padding-bottom: 80px;
}

#s4 h3{
    color:#fff;
}

#s4 figure{}
#s4 figure img{
    width:100%;
}
#s4 h2{
    font-weight: 300;
    font-size:32px;
    margin-top:40px;
    margin-bottom:20px;
}
#s4 h2 span{
    display:block;    
    letter-spacing: 10px;
    font-size:18px;
}
address{
    font-style: normal;
    font-size:18px;
}
address *{
    display:block;
    margin-bottom:10px;
}

footer{
    background-color: #000062;
    padding:20px 0px;
    color:#fff;
    font-size:16px;
    text-align: center;
}

footer p:first-child{
    margin-bottom: 5px;
}

footer a{
    text-decoration: underline;
}