@media all and (min-width:1024px){
/* s1 오브젝트 */
#s1 .bgObject .bar1{
    top: -30px;
    right:-200px;
}

#s1 .bgObject .bar2{
    bottom:-80px;
    left:-350px;
}

/* 헤더 */
header{
    position: inherit;
    box-shadow:none;
    width: 95%;
    max-width:1320px;
    margin-left:auto;
    margin-right: auto;
    height:80px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

h1{
    text-align: left;
    justify-content: flex-start;
    font-size:32px;
}

nav{
    display:block !important;
    background-color:transparent;
    backdrop-filter:unset;
    border:0;
    padding:0;
    font-size:18px;
    margin-left: 100px;
}

nav div{
    transform: unset;
    transition: unset;
}
.navOpen{
    display:none;
}

/* s1 */
#s1{
    height:100vh;
    position: relative;
}

#s1 .mainBg{
    height:400px;
    margin-top: 70px;
    width: 80%;
    background-size: cover;
}



#s1 .mainBg h2{
    font-size: 90px;
    letter-spacing: 20px;
    transform: unset;
    left:50%;
    top:unset;
    bottom:0;
    margin-left: -830px;
    margin-right: 0;
}
#s1 .content{
    flex-direction: row;
    width: 95%;
    max-width:1320px;
    margin-left: auto;
    margin-right: auto;
}
#s1 .content .btnSet{
    order:1;
    margin-top: 60px;
}
#s1 .content .btnSet button:last-child{
    margin-left: 45px;
}
#s1 .content p{
    text-align: left;
    order:2;
    line-height: 1.4;
    padding-top: 60px;
    margin-left: 20px;
}
#s1 .content .mo{
    display:none;
}

#s1 .content .pc{
    display:block;
}


.toS2{
    background-size:10px auto;
    background-repeat: no-repeat;
    padding-top:36px;
    background-position: center 0;
    position:absolute;
    font-size:16px;
    left:50%;
    bottom:20px;
    transform: translateX(-50%);
}


#s2 .item span{
    white-space: nowrap;
}

#view .playBox{
    width:calc(70vw - 40px);
    height:calc(((70vw - 40px) / 16) * 9)
}

#s4 .bar{
    margin-left: -40px;
}


}/*끝*/